.header {
  margin-top: 10px;
}

.container1 {
  background-color: lightgrey;
  margin-top:20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  flex-wrap: wrap;  
  box-shadow: 8px 8px 8px grey, -8px -8px 8px grey, 8px -8px 8px grey, -8px 8px 8px grey;
  
}

.images, .buttons  {
  display: flex;
  align-items: center;
  justify-content: space-around;   
  flex-wrap: wrap; 
  width: 100%;  
}

#dog-img{
  background-color:#fff;
  margin: 10px;
  width: 500px;
  height:400px;
  border-radius: 9px;
}

#dog-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

#btn-dog {
  margin: 10px;
  padding: 2px 12px;
  border-radius: 5px;
  outline: none;  
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #17a2b8;
}

#btn-dog:hover{
  background-color: #EA9306;
  
}

#btn-dog:active {
  transform: scale(.9);
}
h2{
	padding:0px;
}

@media only screen and (max-width: 590px) {
  .header {
    font-size: 20px;
  }
  #dog-img {    
    width: 250px;
    height: 250px;
  }
}