* {
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	top: 0;
    width: 100%;
    height: 130px;
	background-color:#fdd2b0;
	z-index:1;
}

header ul{
	list-style:none;
    display: inline-flex;
	text-decoration: none;
	color:white;
	float: right;
    margin-top: 100px;
}
.social{
	height:16px;
	width:16px;
	border-radius:0px;	
}
.social1{
	height:16px;
	width:16px;
	border-radius:0px; 
	margin-right:10px;
}
.social:hover{
	opacity:0.50;
}
.social1:hover{
	opacity:0.50;
}
a{
	padding:6px;
	color:white;
	text-decoration:none;	
}
a:hover{
	padding:10px;
	color:#74553f;
	text-decoration:none;
}

body{
  width:100%;
  margin:0;
  font-size:16px;
  font-family:"Montserrat";
  font-weight:400;
  line-height:1.8em;
  color:#74553f;
}

.cherry3, .fiska, .cherry1{
  position: relative;
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.90;
  
}

.cherry3{
  background-image:url('cherry3.jpg');
  min-height:800px;
}

.fiska{
  background-image:url('fiska.jpg');
  min-height:400px;
}

.cherry1{
  background-image:url('cherry1.jpg');
  min-height:400px;
}

.section{
	background-color:#fff;
	text-align:center;
	padding:50px 150px;
	color:#74553f;
}

.section-one{
  background-color:#fff5e3;
  color:#74553f;
}

.section-two{
  background-color:#fff5e3;
  color:#74553f;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#74553f;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#fdd2b0;
  padding:20px;
}


@media(max-width:568px){
  .cherry3, .fiska, .cherry1{
    background-attachment:scroll;
	min-height:250px;
  }
  
}

img{
border-radius: 30px;
opacity:0.90;
}
footer img{
	height:16px;
	width:16px;
	border-radius:0px;	
	float:right;
	padding:5px;
}
footer{
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	height:30px;
	text-align:center;
	background-color:#fdd2b0;
}
@media only screen and (max-width:755px) {
	p{
		font-size:11px;
		line-height:2;
	}
	h2{
    	font-size:14px;
		line-height:2;
	}
	h3{
		font-size:12px;
		line-height:2;
	}	
	h4{
		font-size:8px;
		line-height:2;
    }
	 header{
    	height:50px;
    }
	 header ul{
    	margin-top:0px;
    }
    header img{
    	height:24px;
        width:70px;
		padding-top:5px;
        float:left;
    }
    header li{
		font-size:10px;
    }
    header a{
    	padding:3px;
    }
	img{
		width:60%;
		border-radius:10px;
	}
	.ptext{
		font-size:10px;
		letter-spacing:1px;
	}
	.ptext .border{
		padding:5px
	}
	.section{
		padding:10px
	}
	 footer {
    	display:none;
	 }
	.social{
		height:12px;
        width:12px;
	}
	.social1{
		height:12px;
        width:12px;
	}

